<tr id="alert_<%= dom_id inventory %>" class="has-text-<%= alert_level %>-dark has-background-<%= alert_level %>-light">
  <td><b><%= model_name %></b> inventory for <b><%= store_name %></b> store is <b><%= inventory_amount %></b> (<%= received_at %>)</td>
</tr>
